NAME="My Server"    # Enter the name of your server that will be visible in the Server list.
PORT=2456           # Port to run the server on, make sure this port is forwarded in your router.
WORLD="Dedicated"   # Name of the world.
PASSWORD="Secret"   # Password for the server, minimum 5 characters and cannot be in the server name.
PUBLIC=1            # Whether the server is public (1) or not (0).
SAVEINTERVAL=1800   # Change how often the world will save in seconds.
BACKUPS=4           # Number of backup files to keep, first is a short backup, and rest is long backups.
BACKUPSHORT=7200    # Interval in seconds for short backups in seconds.
BACKUPLONG=43200    # Interval in seconds for long backups in seconds.
CROSSPLAY=true      # Whether the server is crossplay (true) or not (false).
INSTANCEID=1        # Instance ID for the server, used to differentiate between multiple servers on the same machine.
PRESET=""           # Preset for the server. Valid values are Normal, Casual, Easy, Hard, Hardcore, Immersive, Hammer.
MODIFIER=""         # Modifier for the server, used to add custom settings. empty means no modifier.
                    # Combat: veryeasy, easy, hard, veryhard
                    # DeathPenalty: casual, veryeasy, easy, hard, hardcore
                    # Resources: muchless, less, more, muchmore, most
                    # Raids: none, muchless, less, more, muchmore
                    # Portals: casual, hard, veryhard
SETKEY=""           # Set a world modifier checkbox key. Empty means no modifier. Valid values are: nobuildcost, playerevents, passivemobs, nomap.